<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>COMBAT <i>NUMERO# <u class= "font-shadow-red"><%= @fight.id %></u></i> </h1>
		</div>
		<div class="col-xs-12">
			<h2><%= @winner.name.capitalize %> est le grand gagnant !</h2>
			<h3><%= @looser.name.capitalize %> a perdu.</h3>
		</div>
		<div class="col-xs-12">
			<h2><u>SCORE</u></h2>
			<h4><%= @winner.name.capitalize %> : <%= @fight.winner_score %></h4>
			<h4><%= @looser.name.capitalize %> : <%= @fight.looser_score %></h4>
		</div>

	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
				<p><%= link_to "Retour dans l'arène", new_fight_path %></p>
		</div>
	</div>
</div>